@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
/* Set a baseline font size and style */
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background: white;
}

/* Responsive design settings */
/* For small screens, adjust font size and padding */
@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
  /* Add specific styles for smaller screens here */
}

/* For larger screens, add specific styles */
@media (min-width: 1200px) {
  /* Add specific styles for larger screens here */
}
